<!Doctype html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
    </head>

    <body>
        {% set dataArray = [] %}
        {% for app in data %}
            {% set counter = [] %}
            {% for stat in data[app] %}
                {% do counter.append(data[app][stat])%}
            {% endfor %}
            {% do dataArray.append({"appname":app,"time":round(counter|sum/60)}) %}
        {% endfor %}

        <script>
            var data = [10,20,30,40,60,90,100,50,80];
            var r = 300;

            var colorScale = d3.scale.ordinal()
                .range(["red","blue","orange"]);

            var canvas = d3.select("body").append("svg")
                .attr("width", 1500)
                .attr("height", 1500);

            var group = canvas.append("g")
                .attr("transform", "translate(500, 500)");

            var arc = d3.svg.arc()
                .innerRadius(0)
                .outerRadius(r);


            var pie = d3.layout.pie()
                .value(function (d) { return d; });

            var arcs = group.selectAll(".arc")
                .data(pie(data))
                .enter()
                .append("g")
                .attr("class", "arc")

            arcs.append("path")
                .attr("d", arc)
                .attr("fill", function(d){ return colorScale(d.data); });

            arcs.append("text")
                .attr("transform", function (d) { return "translate(" + arc.centroid(d) +")";})
                .text(function (d) {return d.data;})
                .attr("text-anchor", "middle")
                .attr("font-size", "1.5em");


        </script>

    </body>

</html>







